**/.gradle/
**/build/
libs/
**/libs/*.jar
**/upstream/artifacts/*.jar
**/upstream/artifacts/*.zip
**/inputs/*.jar
**/qa/runs/
**/.idea/
*.log
**/__pycache__/
**/runs/
**/*.jar
!**/gradle/wrapper/gradle-wrapper.jar
**/upstream/*.zip
